body {
    background-color: rgb(247, 247, 253);
}


h1{color: rgb(43, 67, 226);
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;}
head{
    color: aquamarine;
}
    h2{
        text-align: center;
        border-image-slice: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: xx-large;
        text-shadow: crimson;
    }
    fieldset{
        padding: 20px;
    }

 h3{
    text-align: center;
   font-size: xx-large;
    color: chocolate;
 }
  
 fieldset{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }  
   
  img{
    border-image-slice: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;    
  }



    
        


