
h1{color: blueviolet;
    display: block;
    margin-right: auto;
    margin-left: auto;}

  
   
   
  img{
    border-image-slice: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;    
  }
 


    
        


