.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 694px;
    height: 182px;
    position: relative;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 153px;
    height: 182px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .frame .overlap {
    position: absolute;
    width: 170px;
    height: 178px;
    top: 24px;
    left: 539px;
  }
  
  .frame .tania-blank-icordis {
    position: absolute;
    width: 170px;
    top: 0;
    left: 0;
    font-family: "Barlow Condensed-Regular", Helvetica;
    font-weight: 400;
    color: #214752;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .line {
    top: 66px;
    position: absolute;
    width: 109px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .frame .img {
    top: 121px;
    position: absolute;
    width: 109px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .frame .tania-blank {
    position: absolute;
    width: 230px;
    top: 32px;
    left: 174px;
    font-family: "Barlow Condensed-Light", Helvetica;
    font-weight: 400;
    color: #214752;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper {
    font-weight: 300;
  }
  
  .frame .span {
    font-family: "Barlow Condensed-Regular", Helvetica;
  }
  
  .frame .text-wrapper-2 {
    font-family: "Barlow Condensed-Medium", Helvetica;
    font-weight: 500;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 201px;
    height: 57px;
    top: 116px;
    left: 153px;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 193px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: #caa367;
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    width: 178px;
    top: 11px;
    left: 23px;
    font-family: "Barlow Condensed-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 151px;
    height: 60px;
    top: 113px;
    left: 357px;
  }
  